$blue: #1089ff;
$green: #c5d82e;
$black: #1c2a44;
$menu-color: #507296;
$Title_font_size: 28px;
$Paragraph_font_size: 15px;
$Icon_font_size: 19px;
$Menu_font_size: 15px;
$gradiant: linear-gradient(180deg, #dfdfdf1c 0%, #a5c4e313 100%);
