@import "variables";
@import "mixin";
html {
  scroll-behavior: smooth;
}
body {
  font-family: IRANSans;
}
input:focus {
  outline: 0;
}
a {
  display: block;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}
span {
  display: block;
}

@media screen and (min-color-index: 0) and (-webkit-min-device-pixel-ratio: 0) {
  .svg-wrapper {
    display: none;
  }
  .text {
    border: 2px solid $green;
    padding: 5%;
  }
}
.d-none-sm {
  @include mediaQuery(M) {
    display: none !important;
  }
}
.d-block-sm {
  display: none !important;
  @include mediaQuery(M) {
    display: block !important;
  }
}

.mt-sm-5 {
  margin-top: 0 !important;
  @include mediaQuery(M) {
    margin-top: 3rem !important;
  }
}
.mb-sm-5 {
  margin-bottom: 0 !important;
  @include mediaQuery(M) {
    margin-bottom: 3rem !important;
  }
}
.pt-sm-0 {
  padding-top: 0 !important;
  @include mediaQuery(M) {
    padding-top: 0 !important;
  }
}
.row-sm-reverse {
  @include mediaQuery(M) {
    flex-direction: column-reverse;
  }
}
.navbar-brand {
  @include mediaQuery(M) {
    display: none;
  }
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: $menu-color !important;
  font-size: $Menu_font_size;
}

.navbar-light .navbar-nav .nav-link {
  color: $menu-color !important;
  font-size: $Menu_font_size;
  @include mediaQuery(M) {
    border-bottom: 1px dashed #c3e0ff;
    margin: 10px 20px 0 0;
  }
}
.nav-item {
  @include mediaQuery(M) {
    text-align: center !important;
  }
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: $blue !important;
}
.bg-light {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
  // flex-direction: row-reverse;
}
.menu-ul {
  margin-right: auto;
}
.menu-btn {
  background-color: $green;
  height: 38px;
  width: 160px;
  border-radius: 3px;
  order: 2;
  line-height: 38px;
  color: white;
  text-align: center;
  @include mediaQuery(M) {
    order: 0;
  }
}
.menu-btn:hover {
  color: white;
  box-shadow: 0 2px 15px #4ccbb34f;
}

// btn hover animation

.btn {
  border: 3px solid $black;
  color: $black;
  display: block;
  font-size: 18px;
  width: 70%;
  padding: 12px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  @include mediaQuery(M) {
    margin: auto;
  }

  &:hover {
    color: $black;
  }
}

.btn::before {
  content: "";
  background-color: $green;
  box-shadow: -6px 5px 0 #1089ff;
  position: absolute;
  left: -9px;
  top: 5px;
  height: 102%;
  width: 102%;
  z-index: -1;
  transition: all 0.4s ease;
}

.btn:hover::before {
  box-shadow: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
// btn hover animation
/*----------------------------
	THE FAT BURGER
----------------------------*/
.burger {
  width: 35px;
  height: 32px;
  margin: auto;
  cursor: pointer;
  position: relative;
}
.burger:before,
.burger span,
.burger:after {
  width: 100%;
  height: 4px;
  display: block;
  background: $blue;
  border-radius: 2px;
  position: absolute;
  opacity: 1;
}
.burger:before,
.burger:after {
  transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1),
    transform 0.35s cubic-bezier(0.23, 1, 0.32, 1),
    opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1),
    background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1),
    -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1),
    opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1),
    background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1);
  content: "";
}
.burger:before {
  top: 4px;
}
.burger span {
  top: 15px;
}
.burger:after {
  top: 26px;
}
/* Hover */
.burger:hover:before {
  top: 7px;
}
.burger:hover:after {
  top: 23px;
}
/* Click */
.burger.cross span {
  opacity: 0;
}
.burger.cross:before,
.burger.cross:after {
  top: 40%;
}
.burger.cross:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=5); /*for IE*/
}
.burger.cross:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=-5); /*for IE*/
}
.burger:focus {
  outline: none;
}

/* page css menu */
.bg-light {
  background-color: white !important;
  box-shadow: 0 2px 10px #afb1ff3b;
  @include mediaQuery(M) {
    background-color: #fdffff !important;
  }
}
.navbar-light .navbar-toggler {
  color: transparent;
  border-color: transparent;
}

button:focus {
  outline: none;
}

.title {
  text-align: left;
  font-size: $Title_font_size;
  color: $black;
  @include mediaQuery(M) {
    text-align: center !important;
  }
}
.paragraph {
  font-size: $Paragraph_font_size;
  text-align: left;

  color: $black;
  @include mediaQuery(M) {
    text-align: center !important;
  }
}
.w-sm-75 {
  @include mediaQuery(M) {
    width: 75%;
    margin-top: 5%;
  }
}
.bg-gradiant {
  background-image: $gradiant;
}
// tab css design
.tab {
  background-color: white;
  box-shadow: 0 7px 72px 0 rgba(16, 137, 255, 0.1);
}
.tabs {
  flex-direction: column;
  display: flex;
  position: relative;
  overflow: hidden;
  margin: 0;
  width: 100%;
}
.tabs li {
  float: left;
  line-height: 38px;
  overflow: hidden;
  padding: 0;
  position: relative;
}
.tabs a {
  text-align: left;
  background-color: #ffffff;
  color: #888;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  outline: none;
  height: 100px;
  padding: 0 20px;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  @include mediaQuery(M) {
    height: 70px;
  }
}
.tabs li a span {
  display: block;
  margin-left: 20px;
  margin-right: 30px;
  background-image: url("../img/pin.svg");
  width: 30px;
  height: 50px;
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
}
.first-tab {
  @include mediaQuery(M) {
  }
}
.last-tab {
  border-radius: 0;
}

.tabs_item {
  display: none;
}
.tabs_item h4 {
  font-weight: bold;
  color: blue;
  font-size: 20px;
}
.tabs_item img {
  width: 100%;
  border-radius: 30px 0 0 30px;
  @include mediaQuery(M) {
    border-radius: 0 0 30px 30px;
  }
}

.tabs_item:first-child {
  display: block;
}

.current a {
  color: #1089ff;
  font-size: 20px;
  font-weight: 500;
  background: #f2fefc;
  display: flex;
  align-items: center;
  span {
    display: block;
    margin-left: 20px;
    margin-right: 30px;
    background-image: url("../img/pin-active.svg") !important;
    width: 30px;
    height: 50px;
  }
}

// error section design

.error-bg {
  background-image: url("../img/error-bg.svg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position-x: -30%;
  background-position-y: center;
  @include mediaQuery(M) {
    background-image: none;
  }
}

.error-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 110px;
  border-radius: 10px;
  background-color: #ffffff;
  margin: 30px 0;
  box-shadow: 0 7px 72px 0 rgba(16, 137, 255, 0.1);
  transition: all 700ms;
  &:hover {
    margin-right: 10px;
  }
  @include mediaQuery(M) {
    width: 100%;
    margin: 30px 0 0 0;
  }
  .pink-box {
    height: 100%;
    width: 30%;
    background-color: #fcd7d763;
    border-radius: 10px 90px 90px 10px;
    transition: all 700ms;
  }
  .error-box-title {
    width: 70%;
    h6 {
      margin: auto;
      color: $black;
      font-size: 16px;
      width: 80%;
      text-align: center;
    }
  }
}
.errors-dashboard {
  display: flex;
  justify-content: center;
  img {
    width: 70%;
    box-shadow: 0 7px 72px 0 rgba(16, 137, 255, 0.1);
    transition: all 700ms;
    &:hover {
      transform: scale(1.005);
    }
  }
}

// product setion
.product-bg {
  background: linear-gradient(180deg, #ffffff 0%, #ecf4fc82 100%);
}
.product-img {
  position: relative;
  img {
    @media screen and (max-width: 380px) {
      width: 90%;
    }
  }
  h1 {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 21px;
    color: $black;
  }
}
.product-datail-box {
  padding-top: 22px;
  border-top: 2px dashed $green;
  .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    span {
      background-color: $green;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      margin-right: 20px;
    }
    p {
      margin: 0px;
      color: $black;
      text-align: left;
      font-size: $Menu_font_size;
    }
  }
}

// pricing plan section
.city-bg {
  background-image: url("../img/city-bg.svg");
  background-size: 130%;
  background-position-x: left;
  background-position-y: 20%;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 550px;
  display: flex;
  align-items: center;
  transition: all 700ms;
  @include mediaQuery(M) {
    background-image: url(../img/city-bg-mobile.svg);
    height: auto;
    background-position-x: center;
    background-position-y: top;
  }
}
.pricing-box {
  width: 350px;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 35px 25px;
  box-shadow: 0 7px 52px 0 rgba(16, 137, 255, 0.1);
  transition: all 700ms;

  @include mediaQuery(M) {
    width: 100%;
  }
  .product-datail-box {
    border: none;
  }
  h2 {
    color: $black;
  }
}
.price {
  font-size: 58px;
  color: $blue;
}
.price-label {
  text-align: center;
  color: #b4b4b4;
  position: relative;
  bottom: 20px;
}
.pricing-car {
  color: $blue;
  font-size: 18px;
  text-align: center;
}
.pricing-btn {
  background-color: $blue;
  color: white !important;
  margin: auto;
  &:hover {
    box-shadow: 0 2px 22px #2195f36e;
  }
}
.sm-min-height {
  min-height: 300px;
}
.active-form {
  display: none;
  width: 100%;
  height: 75%;
  padding: 10%;
  background-color: white;
  margin-bottom: 30px;
  box-shadow: 0 7px 52px 0 rgba(16, 137, 255, 0.1);
  .deactive-form {
    width: fit-content;
    color: #415e7f;
    font-size: 20px;
    opacity: 0.5;
    transition: all 700ms;
    &:hover {
      opacity: 1;
    }
  }
  h5 {
    color: $black;
    text-align: center;
  }
}

// footer style
.footer-bg {
  background-image: url("../img/footer-bg.svg");
  background-size: cover;
  background-position-x: left;
  background-position-y: bottom;
  height: auto;
  padding: 3rem 0;
  .col-lg-2 {
    text-align: center;
    a {
      color: $black;
      font-size: 15px;
      &:hover {
        color: rgb(99, 104, 131);
      }
    }
  }
  span {
    width: 100%;
    height: 2px;
    border-radius: 20px;
    display: block;
    background-color: $green;
  }
  .footer-logo {
    width: 160px;
    @include mediaQuery(M) {
      width: 40%;
    }
  }
  .col-sm-4 {
    @include mediaQuery(M) {
      text-align: center;
    }
    a {
    }
  }
  @include mediaQuery(M) {
    background-position: right;
  }
}
.foter-social {
  display: flex;
  align-items: center;
  justify-content: space-around;
  @include mediaQuery(M) {
    justify-content: center;
  }
  p {
    color: $black;
    font-size: $Menu_font_size;
  }
  a {
    transition: all 700ms;
    &:hover {
      transform: scale(1.05);
    }
    @include mediaQuery(M) {
      margin: 20px;
    }
  }
}
// start btn animation
.svg-wrapper {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shape1,
.shape2 {
  stroke-dasharray: 1120;
  stroke-width: 5px;
  fill: transparent;
  stroke: $green;
  // border-bottom: 5px solid black;
  transition-timing-function: linear;
  transition: stroke-dashoffset 4s, stroke-dasharray 4s;
}
.shape1 {
  stroke-dashoffset: 1120;
}
.shape2 {
  stroke-dashoffset: -1120;
  @include mediaQuery(M) {
    width: 100% !important;
  }
}
.text {
  font-size: 20px;
  line-height: 32px;
  color: $black;
  position: absolute;
  border: none;
  @include mediaQuery(M) {
    text-align: center;
    font-size: 21px;
  }
}
.svg-wrapper:hover .shape1,
.svg-wrapper:hover .shape2 {
  stroke-dashoffset: 0;
  stroke-dasharray: 1120;
}
.safari-d-block {
  display: none !important;
}
.safari-d-block {
  display: none !important;
}

// contact us page css styling
.contactus-bg {
  background-image: url("../img/contact-us.png");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contactus-box {
  .title {
    font-size: 23px;
    text-align: left;
  }
  @extend .tab;
  box-shadow: 0 5px 15px 0 rgba(16, 137, 255, 0.1);
  .col-lg-5 {
    padding: 50px 30px;
    background-color: #f2fefc;
    @include mediaQuery(M) {
    }
    .contactus-detail {
      display: flex;
      align-items: center;
      span {
        margin-left: 20px;
        color: $black;
        font-size: 14px;
        text-align: left;
      }
      &:hover {
        span {
          color: #6f95bd;
        }
        img {
          opacity: 0.8;
        }
      }
    }
  }
}
// menu in contact us page
.contactus-page-menu {
  display: none;
  height: auto;
}

//home animation
.ciry-animation .car {
  @include mediaQuery(M) {
    left: 30% !important;
  }
}
.ciry-animation.keyframe1-to-keyframe2 .car {
  @include mediaQuery(M) {
    left: 32% !important;
  }
}
.ciry-animation.keyframe2-to-keyframe3 .car {
  @include mediaQuery(M) {
    left: 30% !important;
  }
}
.ciry-animation.keyframe3-to-keyframe4 .car {
  @include mediaQuery(M) {
    left: 32% !important;
  }
}
.ciry-animation.keyframe4-to-keyframe5 .car {
  @include mediaQuery(M) {
    left: 30% !important;
  }
}
.ciry-animation.keyframe5-to-keyframe6 .car {
  @include mediaQuery(M) {
    left: 32% !important;
  }
}

.ciry-animation .satellite {
  @include mediaQuery(M) {
    left: 30% !important;
  }
}

.ciry-animation.keyframe1-to-keyframe2 .satellite {
  @include mediaQuery(M) {
    left: 32% !important;
  }
}
.ciry-animation.keyframe2-to-keyframe3 .satellite {
  @include mediaQuery(M) {
    left: 30% !important;
  }
}
.ciry-animation.keyframe3-to-keyframe4 .satellite {
  @include mediaQuery(M) {
    left: 32% !important;
  }
}
.ciry-animation.keyframe4-to-keyframe5 .satellite {
  @include mediaQuery(M) {
    left: 30% !important;
  }
}
.ciry-animation.keyframe5-to-keyframe6 .satellite {
  @include mediaQuery(M) {
    left: 32% !important;
  }
}
//leaflet map css
/* required styles */

.leaflet-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile-container,
.leaflet-pane > svg,
.leaflet-pane > canvas,
.leaflet-zoom-box,
.leaflet-image-layer,
.leaflet-layer {
  position: absolute;
  left: 0;
  top: 0;
}
.leaflet-container {
  overflow: hidden;
}
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}
/* Prevents IE11 from highlighting tiles in blue */
.leaflet-tile::selection {
  background: transparent;
}
/* Safari renders non-retina tile on retina better with this, but Chrome is worse */
.leaflet-safari .leaflet-tile {
  image-rendering: -webkit-optimize-contrast;
}
/* hack that prevents hw layers "stretching" when loading new tiles */
.leaflet-safari .leaflet-tile-container {
  width: 1600px;
  height: 1600px;
  -webkit-transform-origin: 0 0;
}
.leaflet-marker-icon,
.leaflet-marker-shadow {
  display: block;
}
/* .leaflet-container svg: reset svg max-width decleration shipped in Joomla! (joomla.org) 3.x */
/* .leaflet-container img: map is broken in FF if you have max-width: 100% on tiles */
.leaflet-container .leaflet-overlay-pane svg,
.leaflet-container .leaflet-marker-pane img,
.leaflet-container .leaflet-shadow-pane img,
.leaflet-container .leaflet-tile-pane img,
.leaflet-container img.leaflet-image-layer,
.leaflet-container .leaflet-tile {
  max-width: none !important;
  max-height: none !important;
}

.leaflet-container.leaflet-touch-zoom {
  -ms-touch-action: pan-x pan-y;
  touch-action: pan-x pan-y;
}
.leaflet-container.leaflet-touch-drag {
  -ms-touch-action: pinch-zoom;
  /* Fallback for FF which doesn't support pinch-zoom */
  touch-action: none;
  touch-action: pinch-zoom;
}
.leaflet-container.leaflet-touch-drag.leaflet-touch-zoom {
  -ms-touch-action: none;
  touch-action: none;
}
.leaflet-container {
  -webkit-tap-highlight-color: transparent;
}
.leaflet-container a {
  -webkit-tap-highlight-color: rgba(51, 181, 229, 0.4);
}
.leaflet-tile {
  filter: inherit;
  visibility: hidden;
}
.leaflet-tile-loaded {
  visibility: inherit;
}
.leaflet-zoom-box {
  width: 0;
  height: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 800;
}
/* workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=888319 */
.leaflet-overlay-pane svg {
  -moz-user-select: none;
}

.leaflet-pane {
  z-index: 400;
}

.leaflet-tile-pane {
  z-index: 200;
}
.leaflet-overlay-pane {
  z-index: 400;
}
.leaflet-shadow-pane {
  z-index: 500;
}
.leaflet-marker-pane {
  z-index: 600;
}
.leaflet-tooltip-pane {
  z-index: 650;
}
.leaflet-popup-pane {
  z-index: 700;
}

.leaflet-map-pane canvas {
  z-index: 100;
}
.leaflet-map-pane svg {
  z-index: 200;
}

.leaflet-vml-shape {
  width: 1px;
  height: 1px;
}
.lvml {
  behavior: url(#default#VML);
  display: inline-block;
  position: absolute;
}

/* control positioning */

.leaflet-control {
  position: relative;
  z-index: 800;
  pointer-events: visiblePainted; /* IE 9-10 doesn't have auto */
  pointer-events: auto;
}
.leaflet-top,
.leaflet-bottom {
  position: absolute;
  z-index: 1000;
  pointer-events: none;
}
.leaflet-top {
  top: 0;
}
.leaflet-right {
  right: 0;
}
.leaflet-bottom {
  bottom: 0;
}
.leaflet-left {
  left: 0;
}
.leaflet-control {
  float: left;
  clear: both;
}
.leaflet-right .leaflet-control {
  float: right;
}
.leaflet-top .leaflet-control {
  margin-top: 10px;
}
.leaflet-bottom .leaflet-control {
  margin-bottom: 10px;
}
.leaflet-left .leaflet-control {
  margin-left: 10px;
}
.leaflet-right .leaflet-control {
  margin-right: 10px;
}

/* zoom and fade animations */

.leaflet-fade-anim .leaflet-tile {
  will-change: opacity;
}
.leaflet-fade-anim .leaflet-popup {
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
  opacity: 1;
}
.leaflet-zoom-streetd {
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}
.leaflet-zoom-anim .leaflet-zoom-streetd {
  will-change: transform;
}
.leaflet-zoom-anim .leaflet-zoom-streetd {
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  -moz-transition: -moz-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  transition: transform 0.25s cubic-bezier(0, 0, 0.25, 1);
}
.leaflet-zoom-anim .leaflet-tile,
.leaflet-pan-anim .leaflet-tile {
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

.leaflet-zoom-anim .leaflet-zoom-hide {
  visibility: hidden;
}

/* cursors */

.leaflet-interactive {
  cursor: pointer;
}
.leaflet-grab {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}
.leaflet-crosshair,
.leaflet-crosshair .leaflet-interactive {
  cursor: crosshair;
}
.leaflet-popup-pane,
.leaflet-control {
  cursor: auto;
}
.leaflet-dragging .leaflet-grab,
.leaflet-dragging .leaflet-grab .leaflet-interactive,
.leaflet-dragging .leaflet-marker-draggable {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

/* marker & overlays interactivity */
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-image-layer,
.leaflet-pane > svg path,
.leaflet-tile-container {
  pointer-events: none;
}

.leaflet-marker-icon.leaflet-interactive,
.leaflet-image-layer.leaflet-interactive,
.leaflet-pane > svg path.leaflet-interactive,
svg.leaflet-image-layer.leaflet-interactive path {
  pointer-events: visiblePainted; /* IE 9-10 doesn't have auto */
  pointer-events: auto;
}

/* visual tweaks */

.leaflet-container {
  background: #ddd;
  outline: 0;
}
.leaflet-container a {
  color: #0078a8;
}
.leaflet-container a.leaflet-active {
  outline: 2px solid orange;
}
.leaflet-zoom-box {
  border: 2px dotted #38f;
  background: rgba(255, 255, 255, 0.5);
}

/* general typography */
.leaflet-container {
  font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* general toolbar styles */

.leaflet-bar {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  border-radius: 4px;
}
.leaflet-bar a,
.leaflet-bar a:hover {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  width: 26px;
  height: 26px;
  line-height: 26px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
}
.leaflet-bar a,
.leaflet-control-layers-toggle {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
}
.leaflet-bar a:hover {
  background-color: #f4f4f4;
}
.leaflet-bar a:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.leaflet-bar a:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: none;
}
.leaflet-bar a.leaflet-disabled {
  cursor: default;
  background-color: #f4f4f4;
  color: #bbb;
}

.leaflet-touch .leaflet-bar a {
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.leaflet-touch .leaflet-bar a:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.leaflet-touch .leaflet-bar a:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

/* zoom control */

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  font: bold 18px "Lucida Console", Monaco, monospace;
  text-indent: 1px;
}

.leaflet-touch .leaflet-control-zoom-in,
.leaflet-touch .leaflet-control-zoom-out {
  font-size: 22px;
}

/* layers control */

.leaflet-control-layers {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  background: #fff;
  border-radius: 5px;
}
.leaflet-control-layers-toggle {
  background-image: url(images/layers.png);
  width: 36px;
  height: 36px;
}
.leaflet-retina .leaflet-control-layers-toggle {
  background-image: url(images/layers-2x.png);
  background-size: 26px 26px;
}
.leaflet-touch .leaflet-control-layers-toggle {
  width: 44px;
  height: 44px;
}
.leaflet-control-layers .leaflet-control-layers-list,
.leaflet-control-layers-expanded .leaflet-control-layers-toggle {
  display: none;
}
.leaflet-control-layers-expanded .leaflet-control-layers-list {
  display: block;
  position: relative;
}
.leaflet-control-layers-expanded {
  padding: 6px 10px 6px 6px;
  color: #333;
  background: #fff;
}
.leaflet-control-layers-scrollbar {
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 5px;
}
.leaflet-control-layers-selector {
  margin-top: 2px;
  position: relative;
  top: 1px;
}
.leaflet-control-layers label {
  display: block;
}
.leaflet-control-layers-separator {
  height: 0;
  border-top: 1px solid #ddd;
  margin: 5px -10px 5px -6px;
}

/* Default icon URLs */
.leaflet-default-icon-path {
  background-image: url(images/marker-icon.png);
}

/* attribution and scale controls */

.leaflet-container .leaflet-control-attribution {
  background: #fff;
  background: rgba(255, 255, 255, 0.7);
  margin: 0;
}
.leaflet-control-attribution,
.leaflet-control-scale-line {
  padding: 0 5px;
  color: #333;
}
.leaflet-control-attribution a {
  text-decoration: none;
}
.leaflet-control-attribution a:hover {
  text-decoration: underline;
}
.leaflet-container .leaflet-control-attribution,
.leaflet-container .leaflet-control-scale {
  font-size: 11px;
}
.leaflet-left .leaflet-control-scale {
  margin-left: 5px;
}
.leaflet-bottom .leaflet-control-scale {
  margin-bottom: 5px;
}
.leaflet-control-scale-line {
  border: 2px solid #777;
  border-top: none;
  line-height: 1.1;
  padding: 2px 5px 1px;
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  background: #fff;
  background: rgba(255, 255, 255, 0.5);
}
.leaflet-control-scale-line:not(:first-child) {
  border-top: 2px solid #777;
  border-bottom: none;
  margin-top: -2px;
}
.leaflet-control-scale-line:not(:first-child):not(:last-child) {
  border-bottom: 2px solid #777;
}

.leaflet-touch .leaflet-control-attribution,
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  box-shadow: none;
}
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
}

/* popup */

.leaflet-popup {
  position: absolute;
  text-align: center;
  margin-bottom: 20px;
}
.leaflet-popup-content-wrapper {
  padding: 1px;
  text-align: left;
  border-radius: 12px;
}
.leaflet-popup-content {
  margin: 13px 19px;
  line-height: 1.4;
}
.leaflet-popup-content p {
  margin: 18px 0;
}
.leaflet-popup-tip-container {
  width: 40px;
  height: 20px;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  overflow: hidden;
  pointer-events: none;
}
.leaflet-popup-tip {
  width: 17px;
  height: 17px;
  padding: 1px;

  margin: -10px auto 0;

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: white;
  color: #333;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
}
.leaflet-container a.leaflet-popup-close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 4px 0 0;
  border: none;
  text-align: center;
  width: 18px;
  height: 14px;
  font: 16px/14px Tahoma, Verdana, sans-serif;
  color: #c3c3c3;
  text-decoration: none;
  font-weight: bold;
  background: transparent;
}
.leaflet-container a.leaflet-popup-close-button:hover {
  color: #999;
}
.leaflet-popup-scrolled {
  overflow: auto;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

.leaflet-oldie .leaflet-popup-content-wrapper {
  zoom: 1;
}
.leaflet-oldie .leaflet-popup-tip {
  width: 24px;
  margin: 0 auto;

  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678)";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678);
}
.leaflet-oldie .leaflet-popup-tip-container {
  margin-top: -1px;
}

.leaflet-oldie .leaflet-control-zoom,
.leaflet-oldie .leaflet-control-layers,
.leaflet-oldie .leaflet-popup-content-wrapper,
.leaflet-oldie .leaflet-popup-tip {
  border: 1px solid #999;
}

/* div icon */

.leaflet-div-icon {
  background: #fff;
  border: 1px solid #666;
}

/* Tooltip */
/* Base styles for the element that has a tooltip */
.leaflet-tooltip {
  position: absolute;
  padding: 6px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  color: #222;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}
.leaflet-tooltip.leaflet-clickable {
  cursor: pointer;
  pointer-events: auto;
}
.leaflet-tooltip-top:before,
.leaflet-tooltip-bottom:before,
.leaflet-tooltip-left:before,
.leaflet-tooltip-right:before {
  position: absolute;
  pointer-events: none;
  border: 6px solid transparent;
  background: transparent;
  content: "";
}

/* Directions */

.leaflet-tooltip-bottom {
  margin-top: 6px;
}
.leaflet-tooltip-top {
  margin-top: -6px;
}
.leaflet-tooltip-bottom:before,
.leaflet-tooltip-top:before {
  left: 50%;
  margin-left: -6px;
}
.leaflet-tooltip-top:before {
  bottom: 0;
  margin-bottom: -12px;
  border-top-color: #fff;
}
.leaflet-tooltip-bottom:before {
  top: 0;
  margin-top: -12px;
  margin-left: -6px;
  border-bottom-color: #fff;
}
.leaflet-tooltip-left {
  margin-left: -6px;
}
.leaflet-tooltip-right {
  margin-left: 6px;
}
.leaflet-tooltip-left:before,
.leaflet-tooltip-right:before {
  top: 50%;
  margin-top: -6px;
}
.leaflet-tooltip-left:before {
  right: 0;
  margin-right: -12px;
  border-left-color: #fff;
}
.leaflet-tooltip-right:before {
  left: 0;
  margin-left: -12px;
  border-right-color: #fff;
}
//demo box style
@-moz-document url-prefix() {
  .demo {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: #00000052;
    top: 0;
    left: 0;
    z-index: 1100;
    .demo-form {
      width: 100%;
      height: auto;
      border-radius: 5px;
      padding: 10%;
      background-color: white;
      box-shadow: 0 7px 52px 0 rgba(16, 137, 255, 0.1);
      .deactive-form {
        width: fit-content;
        color: #415e7f;
        font-size: 20px;
        opacity: 0.5;
        transition: all 700ms;
        &:hover {
          opacity: 1;
        }
      }
      h5 {
        color: $black;
        text-align: center;
      }
    }
  }
}
.demo {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: #00000052;
  top: 0;
  left: 0;
  z-index: 1100;
  .demo-form {
    width: 100%;
    height: auto;
    border-radius: 5px;
    padding: 10%;
    background-color: white;
    box-shadow: 0 7px 52px 0 rgba(16, 137, 255, 0.1);
    .deactive-form {
      width: fit-content;
      color: #415e7f;
      font-size: 20px;
      opacity: 0.5;
      transition: all 700ms;
      &:hover {
        opacity: 1;
      }
    }
    h5 {
      color: $black;
      text-align: center;
    }
  }
}
//map css styling
.leaflet-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile-container,
.leaflet-pane > svg,
.leaflet-pane > canvas,
.leaflet-zoom-box,
.leaflet-image-layer,
.leaflet-layer {
  border-radius: 0px !important;
}

#chalus,
#bandar,
#asad {
  width: 100%;
  height: 500px;
}

.leaflet-container {
  overflow: hidden;
  @include mediaQuery(M) {
  }
}

// blog page styling

.blog-tab {
  color: $black !important;
  text-decoration: none;
  transition: 1s all;

  &:hover {
    color: $blue !important;
    text-decoration: none;
    box-shadow: 0 2px 0 $blue;
  }
  li {
    a {
      font-weight: 500 !important;
      margin: 0 20px !important;
    }
  }
}
#blog-tab {
  padding: 0;
}
.blog-border {
  width: 60%;
  border-bottom: 1px solid gainsboro;
}
a.nav-link.blog-tab {
  font-weight: 700;
  margin: 0 30px;
}
.active-tab {
  color: $blue !important;
  box-shadow: 0 2px 0 $blue;
  transition: 1s all;
  a {
    color: $blue !important;
  }
}
.blog-bg {
  background-image: url("../img/blog-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

.blog-empty {
  min-height: 50px;
  margin: 30px;
  width: 100%;
  font-size: 17px;
  color: $black;
  font-weight: 300;
}
.blog-post {
  position: relative;
  .post-img {
    height: 200px;
    border-radius: 15px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #1089ff0f;
    box-shadow: 0 2px 5px #1089ff14;

    .post-tag {
      position: absolute;
      top: 0;
      padding: 10px;
      button {
        -webkit-appearance: initial;
        box-shadow: none;
        border: none;
        padding: 5px 15px;
        background-color: #ccdbe870;
        border-radius: 185px;
        box-shadow: 0 2px 5px #15151514;

        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          li {
            a {
              color: $black !important;
            }
          }
        }
      }
    }
  }
  .post-title {
    padding: 20px;
    position: relative;
    bottom: 20px;
    background-color: white;
    height: 160px;
    width: 90%;
    margin-right: 20px;
    border-radius: 15px;
    -webkit-box-shadow: 0 2px 10px #afb1ff3b;
    box-shadow: 0 2px 20px #1089ff40;
    color: $black;
    h5 {
      color: $blue;
    }
    p {
      text-align: justify;
      font-size: 13px;
      height: 77px;
      overflow: hidden;
      text-overflow: ellipsis;
      min-width: 100%;
    }
  }
}

.featured-img {
  img {
    border: 1px solid #21e6c13b;
    border-radius: 15px;
    box-shadow: 0 2px 5px #1089ff30;
  }
}
.post-color {
  background-image: linear-gradient(to bottom, #b6bcc21a, white);
}
.blog-post-info {
  box-shadow: 0 2px 20px #1089ff40;
  width: 470px;
  background-color: white;
  position: relative;
  z-index: 195;
  position: absolute;
  right: 0;
  height: 200px;
  border-radius: 15px;
  .post-tag-date {
    display: flex;
    padding: 0 30px;
    justify-content: space-between;
    margin-top: 30px;
    color: $black;
    border-right: 4px solid $green;
    align-items: center;
    .post-date {
      color: $black;
      font-weight: 100;
    }
    .title-tags {
      padding: 5px 15px;
      border: 1px solid $black;
      border-radius: 5px;
      color: $black;
      font-weight: 400;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }
  }
  .post-title {
    margin-top: 20px;
    padding: 0 30px;
    color: $black;
  }
}
.post-text {
  color: $black;
  text-align: justify;

  a {
    color: $blue;
    text-decoration: none;
  }
  h1 {
    font-size: 26px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 18px;
  }
  h6 {
    font-size: 16px;
  }
}
.share-social {
  h6 {
    color: $blue;
    text-align: center;
    font-size: 18px;
  }

  div {
    a {
      display: flex;
      justify-content: center;
      transition: all 500ms;
      img {
        width: 50px;
      }
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

// multi language scss
#trp-floater-ls {
  top: 10px !important;
  left: 70%;
  background-color: white;
}
#trp-floater-ls.trp-top-right {
  border-radius: 3px;
}
#trp-floater-ls:hover {
  border-radius: 3px;
  box-shadow: 0 2px 10px #afb1ff3b;
}

#trp-floater-ls-language-list a:hover {
  color: $black;
  background-color: #f9fbfe;
}
@media only screen and (max-width: 993) {
  #trp-floater-ls {
    left: 70%;
  }
}
@media only screen and (max-width: 916px) {
  #trp-floater-ls {
    left: 60%;
  }
}
@media only screen and (max-width: 673px) {
  #trp-floater-ls {
    left: 55%;
  }
}
@media only screen and (max-width: 590px) {
  #trp-floater-ls {
    left: 45%;
  }
}
@media only screen and (max-width: 480px) {
  #trp-floater-ls {
    left: 35%;
  }
  .current a {
    font-size: 18px;
    padding: 10px 10px;
    height: auto;
  }
  .tabs a {
    font-size: 14px;
    padding: 10px 10px;
    height: auto;
  }
}
@media only screen and (max-width: 400px) {
  #trp-floater-ls {
    left: 25%;
  }
}
